@model NagaMaster.Models.Reports.RjtReportModel
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item flex-row">
            <div class="sub-header-container">
                <header class="header navbar navbar-expand-sm">
                    <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                        <i class="las la-bars"></i>
                    </a>
                    <ul class="navbar-nav flex-row">
                        <li>
                            <div class="page-header">
                                <nav class="breadcrumb-one" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active"><a href="javascript:void(0);">Reports</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </li>
                    </ul>
                </header>
            </div>
            <li class="heading-nav nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                @*PlantName :*@ @Request.Cookies["PlantName"].Value.ToString()
            </li>
        </ul>
        <ul class="navbar-item flex-row ml-md-auto">
            <li class="nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                <a class="nav-link full-screen-mode d-flex align-center" href="javascript:void(0);">
                    <i class="las la-compress pr-2" id="fullScreenIcon"></i>Full Display
                </a>
            </li>
            <li class="nav-item dropdown notification-dropdown">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle position-relative" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="las la-bell"></i>
                    <div class="blink">
                        <div class="circle"></div>
                    </div>
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
                    <div class="nav-drop is-notification-dropdown">

                    </div>
                </div>
            </li>
            <li class="nav-item dropdown user-profile-dropdown d-flex align-items-center pr-4">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <div class="d-flex flex-column text-right">
                        <span class="font-12 strong lh-normal">Welcome! @Request.Cookies["EmpDesc"].Value.ToString()</span>
                        <span class="font-11 lighter lh-normal">@Request.Cookies["RoleName"].Value.ToString()</span>
                    </div>
                    <img src="~/assets/img/new-pizza.jpg" alt="avatar">
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                    <div class="nav-drop is-account-dropdown">
                        <div class="inner">
                            <div class="nav-drop-body account-items p-0">
                                <a id="profile-link" class="account-item" href="pages_profile.html">
                                    <div class="media align-center">
                                        <div class="media-left">
                                            <div class="image">
                                                <img class="rounded-circle avatar-xs" src="~/assets/img/new-pizza.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">@Request.Cookies["EmpDesc"].Value.ToString()</h6>
                                            <small>@Request.Cookies["RoleName"].Value.ToString()</small>
                                        </div>
                                        <div class="media-right">
                                            <i data-feather="check"></i>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item" href="pages_profile.html">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-user font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">My Account</h6>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item" href="pages_timeline.html">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-briefcase font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">My Activity</h6>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item settings">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-cog font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">Settings</h6>
                                        </div>
                                    </div>
                                </a>
                                <hr class="account-divider">
                                <a class="account-item" href="~/Login/LoginPage">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-sign-out-alt font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong ">Logout</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>
<div class="layout-px-spacing">
    <div class="layout-top-spacing mb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="container p-0">
                    <div class="row layout-top-spacing date-table-container">
                        <!-- Datatable show/hide column -->
                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                            <div class="widget-content widget-content-area br-6">
                                <h4 class="table-header" style="font-size: 24px;">Rejection Report</h4>
                                <div class="toggle-list col-sm-12">
                                    <div class="row">
                                        <p>
                                            <a class="btn btn-primary filt" style="border-radius: 30px;" data-toggle="collapse"
                                               href="#multiCollapseExample1" role="button"
                                               aria-expanded="false"
                                               aria-controls="multiCollapseExample1"><i class="las la-minus-circle la-lg mr-2"></i>Minimize</a>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse show"
                                                 id="multiCollapseExample1">
                                                <div class="card card-body mb-5 col-lg-12 col-md-12 col-sm-12 report-content"
                                                     style="background-color: whitesmoke;">
                                                    <form id="frmrejection">
                                                        <div class="row mb-2">
                                                            <div class="col-sm-12">
                                                                <h4 class="pl-2 pt-2">Rejection Report</h4>
                                                                <hr>
                                                            </div>

                                                        </div>

                                                        <div class="perwisrep-input-lane1 row">

                                                            <div class="form-group col-sm-4">
                                                                <div class="form-group row">
                                                                    <label for="FromDate" class="col-form-label ml-4">From Date</label>
                                                                    <div class="col-sm-12">
                                                                        <input class="form-control" type="date" value="@Model.FromDate" id="FromDate" name="FromDate">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group row">
                                                                    <label for="ToDate" class="col-form-label ml-4">To Date</label>
                                                                    <div class="col-sm-12">
                                                                        <input class="form-control" type="date" value="@Model.ToDate" id="ToDate" name="ToDate">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label class="col-form-label col-sm-12 text-black">
                                                                    Repott Type
                                                                </label>
                                                                <div class="">
                                                                    @Html.DropDownListFor(x => x.DwnldFmt, new SelectList(Model.DwnldFmtDetail, "Value", "Text"), "--- Select ---", new { @class = "form-control", name = "DwnldFmt" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="perwisrep-input-lane4 row">
                                                            <div class="col-sm-12">
                                                                <hr>
                                                            </div>
                                                        </div>

                                                        <div class="perwisrep-input-lane5 row">
                                                            <div class="form-group col-sm-12 dayclose" style="display: flex;flex-direction:row;justify-content: center;">
                                                                <input class="btn btn-primary mr-4" type="button" onclick="LoadGrid()" value="Submit" />
                                                                <button class="btn btn-dark mr-4" type="reset">Clear</button>
                                                                <button class="btn btn-success" onclick="Download()" type="button">Download</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Rjtmodal" class="modal fade employee-modal" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModal-supplierLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">
                                                        Rejected Barcodes
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <i class="las la-times" style="border-radius: 3px;"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="media-body">
                                                        <form id="formitem" action="" method="post">
                                                            <div class="table-responsive mb-4">
                                                                <table id="tblItem" class="table table-bordered table-hover text-left" style="width:100%"> </table>
                                                            </div>
                                                            
                                                        </form>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <div class="form-group col-sm-12 dayclose" style="display: flex;flex-direction:row;justify-content: center;">
                                                        <button class="btn btn-danger" type="reset" onclick="funclear()"> Close </button>
                                                    </div>

                                                </div>

                                                
                                            </div>
                                        </div>
                                        <!-- import modal starts -->


                                    </div>

                                    <div class="table-responsive mb-4">
                                        <table id="tblRejection"
                                               class="table table-bordered table-hover text-left"
                                               style="width:100%">
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Body Ends -->

<script>
    function LoadGrid() {
        var dataset = new Array();

        $.ajax({
            type: "POST",
            url: "/Report/RptRejectionLoadGrid",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: $("#frmrejection").serialize(),
            dataType: "json",
            success: function (jsonData) {
                console.log(jsonData);
                if (jsonData != null) {
                    len = jsonData.length;

                    if ($.fn.DataTable.fnIsDataTable("#tblRejection"))
                        $("#tblRejection").dataTable().fnDestroy();

                    



                    for (i = 0; i < len; i++)
                        dataset.push([(i + 1), jsonData[i].ProductionDate, jsonData[i].MaterialCode, jsonData[i].MaterialDesc, jsonData[i].BatchNo, jsonData[i].SecondaryCount, jsonData[i].Crates,
                            "<div class=\"text-center flex\"><a href=\"#\" class=\"tableIconA bs-tooltip\" data-toggle=\"modal\"  " +
                            "onclick=\"fundetails('" + jsonData[i].BatchNo + "','" + jsonData[i].ProductionDate +"')\"><i class=\"las la-file-invoice font-20 text-primary\"aria-hidden=\"true\"style=\"color: #0056b3!important;font-size: 20px;\"></i></a></div>"])


                    $('#tblRejection').DataTable({
                        "autoWidth": true,
                        "deferRender": true,
                        "sScrollY": "300px",
                        "sScrollX": "100%",
                        "language": {
                            "paginate": {
                                "previous": "<i class='las la-angle-left'></i>",
                                "next": "<i class='las la-angle-right'></i>"
                            }
                        },
                        data: dataset,
                        columns: [{ title: "#", width: "2%" }, { title: "PRODUCTION DATE" }, { title: "MATERIAL CODE" }, { title: "MATERIAL NAME" }, { title: "BATCH NUMBER" }, { title: "REJECT COUNT" }, { title: "CRATES" }, { title: "DETAILS" }]
                    });

                } else {
                    alert("something went wrong");
                }

            }
        });
    }
</script>
<script>
    function fundetails(a, b) {
        
        var purl = '';
        var ptype = '';

            purl = "/Report/GetBarcodeItems";
            ptype = "POST";
        var dataset = new Array();
        $.ajax({
            type: ptype,
            url: purl,
            data: JSON.stringify({
                "BatchNo": a,
                "ProductionDate": b,
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (jsonData) {
                if (jsonData != null) {
                    len = jsonData.length;

                    if ($.fn.DataTable.fnIsDataTable("#tblItem"))
                        $("#tblItem").dataTable().fnDestroy();


                    $('#Rjtmodal').modal("show");


                    for (i = 0; i < len; i++)
                        dataset.push([(i + 1), jsonData[i].Barcode])

                    $('#tblItem').DataTable({
                        "autoWidth": true,
                        "deferRender": true,
                        "sScrollY": "300px",
                        "sScrollX": "100%",
                        "paging": false,
                        data: dataset,
                        columns: [{ title: "#"}, { title: "ITEM BARCODE" }]
                    });

                } else {
                    alert("something went wrong");
                }
            }
        });

    }





        //var dataset = new Array();
        //var string = a;
        //var array = string.split(",");

        ////console.log(array);

        //if ($.fn.DataTable.fnIsDataTable("#tblItem"))
        //    $("#tblItem").dataTable().fnDestroy();

        //for (i = 0; i < len; i++)
        //    dataset.push([array])

        //$('#tblItem').DataTable({
        //    "autoWidth": true,
        //    "deferRender": true,
        //    "sScrollY": "300px",
        //    "sScrollX": "100%",
        //    "language": {
        //        "paginate": {
        //            "previous": "<i class='las la-angle-left'></i>",
        //            "next": "<i class='las la-angle-right'></i>"
        //        }
        //    },
        //    data: dataset,
        //    columns: [{ title: "Barcodes" }]
        //});

        //$('#Rjtmodal').modal("show");
    //}
</script>
<script>
    function funclear() {
        $('#Rjtmodal').modal("hide");
    }



    function Download() {
        if ($("#Sipment").val() == "") {
            toastr.error("Select Sipment Number");
            return true;
        }
        $.ajax({
            type: "POST",
            url: "/Report/RejectionGenReport",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: $("#frmrejection").serialize(),
            dataType: "json",
            success: function (jsonData) {
                console.log(jsonData);
                if (jsonData != null) {
                    len = jsonData.length;
                    if (jsonData.Success == 0)
                        toastr.error(jsonData.Message);
                    else if (jsonData.Success == 1) {
                        window.open(jsonData.Data);
                        setTimeout(function () { location.reload(); }, 2000);
                    }
                } else {
                    alert("something went wrong");
                }

            }
        });
    }
</script>
