@model NagaMaster.Models.Reports.PeriodWiseModel
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item flex-row">
            <div class="sub-header-container">
                <header class="header navbar navbar-expand-sm">
                    <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                        <i class="las la-bars"></i>
                    </a>
                    <ul class="navbar-nav flex-row">
                        <li>
                            <div class="page-header">
                                <nav class="breadcrumb-one" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active"><a href="javascript:void(0);">Reports</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </li>
                    </ul>
                </header>
            </div>
            <li class="heading-nav nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                @*PlantName :*@ @Request.Cookies["PlantName"].Value.ToString()
            </li>
        </ul>
        <ul class="navbar-item flex-row ml-md-auto">
            <li class="nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                <a class="nav-link full-screen-mode d-flex align-center" href="javascript:void(0);">
                    <i class="las la-compress pr-2" id="fullScreenIcon"></i>Full Display
                </a>
            </li>
            <li class="nav-item dropdown notification-dropdown">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle position-relative" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="las la-bell"></i>
                    <div class="blink">
                        <div class="circle"></div>
                    </div>
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
                    <div class="nav-drop is-notification-dropdown">

                    </div>
                </div>
            </li>
            <li class="nav-item dropdown user-profile-dropdown d-flex align-items-center pr-4">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <div class="d-flex flex-column text-right">
                        <span class="font-12 strong lh-normal">Welcome! @Request.Cookies["EmpDesc"].Value.ToString()</span>
                        <span class="font-11 lighter lh-normal">@Request.Cookies["RoleName"].Value.ToString()</span>
                    </div>
                    <img src="~/assets/img/new-pizza.jpg" alt="avatar">
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                    <div class="nav-drop is-account-dropdown">
                        <div class="inner">
                            <div class="nav-drop-body account-items p-0">
                                <a id="profile-link" class="account-item" href="pages_profile.html">
                                    <div class="media align-center">
                                        <div class="media-left">
                                            <div class="image">
                                                <img class="rounded-circle avatar-xs" src="~/assets/img/new-pizza.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">@Request.Cookies["EmpDesc"].Value.ToString()</h6>
                                            <small>@Request.Cookies["RoleName"].Value.ToString()</small>
                                        </div>
                                        <div class="media-right">
                                            <i data-feather="check"></i>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item" href="pages_profile.html">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-user font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">My Account</h6>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item" href="pages_timeline.html">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-briefcase font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">My Activity</h6>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item settings">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-cog font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong">Settings</h6>
                                        </div>
                                    </div>
                                </a>
                                <hr class="account-divider">
                                <a class="account-item" href="~/Login/LoginPage">
                                    <div class="media align-center">
                                        <div class="icon-wrap">
                                            <i class="las la-sign-out-alt font-20"></i>
                                        </div>
                                        <div class="media-content ml-3">
                                            <h6 class="font-13 mb-0 strong ">Logout</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>
<div class="layout-px-spacing">
    <div class="layout-top-spacing mb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="container p-0">
                    <div class="row layout-top-spacing date-table-container">
                        <!-- Datatable show/hide column -->
                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                            <div class="widget-content widget-content-area br-6">
                                <h4 class="table-header" style="font-size: 24px;">Smart Stock Report</h4>
                                <div class="toggle-list col-sm-12">
                                    <div class="row">
                                        <p>
                                            <a class="btn btn-primary filt" style="border-radius: 30px;" data-toggle="collapse"
                                               href="#multiCollapseExample1" role="button"
                                               aria-expanded="false"
                                               aria-controls="multiCollapseExample1"><i class="las la-minus-circle la-lg mr-2"></i>Minimize</a>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse show"
                                                 id="multiCollapseExample1">
                                                <div class="card card-body mb-5 col-lg-12 col-md-12 col-sm-12 report-content"
                                                     style="background-color: whitesmoke;">
                                                    <form id="frmperiod">
                                                        <div class="row mb-2">
                                                            <div class="col-sm-12">
                                                                <h4 class="pl-2 pt-2">Stock Report</h4>
                                                                <hr>
                                                            </div>

                                                        </div>

                                                        <div class="perwisrep-input-lane1 row">
                                                            <div class="form-group col-sm-4">
                                                                <label class="col-form-label col-sm-12">
                                                                    Plant Name
                                                                </label>
                                                                <div class="">
                                                                    @if (Model.PlantDetails != null)
                                                                    {
                                                                        @Html.DropDownListFor(x => x.PlantId, new SelectList(Model.PlantDetails, "Value", "Text"), "--- ALL ---", new { @class = "form-control", name = "PlantId" })
                                                                    }

                                                                </div>
                                                            </div>

                                                            <div class="form-group col-sm-4">
                                                                <label class="col-form-label col-sm-12">
                                                                    Material Category
                                                                </label>
                                                                <div class="">
                                                                    <select onchange="LoadMaterial()" class="form-control" id="MaterialCategory" name="MaterialCategory">
                                                                        @if (Model.MaterialDetails != null)
                                                                        {
                                                                            <option value="" selected>---ALL---</option>
                                                                            foreach (var mat in Model.MaterialDetails)
                                                                            {
                                                                            <option value="@mat.Value">@mat.Text</option>

                                                                            }
                                                                        }
                                                                    </select>
                                                                    <br />
                                                                    <div id='result'></div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-sm-4">
                                                                <label class="col-form-label col-sm-12">
                                                                    Material Name
                                                                </label>
                                                                <div class="">
                                                                    <select onchange="LoadBatch()" class="form-control" id="MaterialCode" name="MaterialCode">
                                                                        <option value="" selected>---ALL---</option>
                                                                    </select>
                                                                    <br />
                                                                    <div id='result'></div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-sm-4">
                                                                <label class="col-form-label col-sm-12">
                                                                    Batch Type
                                                                </label>
                                                                <div class="">
                                                                    <select class="form-control" id="BatchType" name="BatchType">
                                                                        <option value="1" selected>Primary</option>
                                                                        <option value="2">Secondary</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-sm-4">
                                                                <label class="col-form-label col-sm-12">
                                                                    Batch Number
                                                                </label>
                                                                <div class="">
                                                                    <select class="form-control" id="BatchNo" name="BatchNo">
                                                                        <option value="" selected>---ALL---</option>
                                                                    </select>
                                                                    <br />
                                                                    <div id='result'></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label class="col-form-label col-sm-12 text-black">
                                                                    Stock Status
                                                                </label>
                                                                <div class="">
                                                                    @if (Model.StockStatusDetails != null)
                                                                    {
                                                                        @Html.DropDownListFor(x => x.StockStatus, new SelectList(Model.StockStatusDetails, "Value", "Text"), "--- ALL ---", new { @class = "form-control", name = "StockStatus" })
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="perwisrep-input-lane2 row">
                                                            

                                                            <div class="form-group col-sm-4">
                                                                <div class="form-group row">
                                                                    <label for="FromDate" class="col-form-label ml-4">From Date</label>
                                                                    <div class="col-sm-12">
                                                                        <input class="form-control" type="date" value="@Model.FromDate" id="FromDate" name="FromDate">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group row">
                                                                    <label for="ToDate" class="col-form-label ml-4">To Date</label>
                                                                    <div class="col-sm-12">
                                                                        <input class="form-control" type="date" value="@Model.ToDate" id="ToDate" name="ToDate">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label class="col-form-label col-sm-12 text-black">
                                                                    Download Type
                                                                </label>
                                                                <div class="">
                                                                    @if (Model.DwnldFmtDetail != null)
                                                                    {
                                                                        @Html.DropDownListFor(x => x.DwnldFmt, new SelectList(Model.DwnldFmtDetail, "Value", "Text"), "--- SELECT ---", new { @class = "form-control", name = "DwnldFmt" })
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="perwisrep-input-lane4 row">
                                                            <div class="col-sm-12">
                                                                <hr>
                                                            </div>
                                                        </div>

                                                        <div class="perwisrep-input-lane5 row">
                                                            <div class="form-group col-sm-12 dayclose" style="display: flex;flex-direction:row;justify-content: center;">
                                                                <input class="btn btn-primary mr-4" type="button" onclick="LoadGrid()" value="Submit" />
                                                                <button class="btn btn-dark mr-4" type="reset">Clear</button>
                                                                <button class="btn btn-success" onclick="Download()" type="button">Download</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive mb-4">
                                        <table id="tblPeriodWise"
                                               class="table table-bordered table-hover text-left"
                                               style="width:100%">
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Body Ends -->

<script>
    $(document).ready(function () {
        // Initialize select2
        $("#BatchNo").select2();
        $("#MaterialCode").select2();
        $("#MaterialCategory").select2();
    });

    function LoadMaterial() {

        $.ajax({
            type: "POST",
            url: "/Report/GetMaterialForStockReport",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            data: $("#frmperiod").serialize(),
            success: function (jsonData) {
                if (jsonData != null) {
                    if (jsonData.Success == 1) {
                        $("#MaterialCode").empty();
                        var lankanListArray = jsonData.Data;

                        $("#MaterialCode").append($("<option></option>").val("").html("---ALL---"));
                        // running a loop
                        $.each(lankanListArray, function () {
                            $("#MaterialCode").append($("<option></option>").val(this.Value).html(this.Text));
                        });
                        $("#MaterialCode").select2();
                    }
                    else if (jsonData.Success == 0)
                        toastr.error(jsonData.Message);
                    else
                        toastr.error(jsonData.Message);
                }
                else {
                    alert("something went wrong");
                }
            }
        });
    }

    function LoadBatch() {

        $.ajax({
            type: "POST",
            url: "/Report/GetBatchForStockReport",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            data: $("#frmperiod").serialize(),
            success: function (jsonData) {
                if (jsonData != null) {
                    if (jsonData.Success == 1) {
                        $("#BatchNo").empty();
                        var lankanListArray = jsonData.Data;

                        $("#BatchNo").append($("<option></option>").val("").html("---ALL---"));
                        // running a loop
                        $.each(lankanListArray, function () {
                            $("#BatchNo").append($("<option></option>").val(this.Text).html(this.Text));
                        });
                        $("#BatchNo").select2();

                    }
                    else if (jsonData.Success == 2) {
                        toastr.error(jsonData.Message);
                        $("#BatchNo").empty();

                        $("#BatchNo").append($("<option></option>").val("").html("---ALL---"));
                        // running a loop
                        $("#BatchNo").select2();

                    }
                    else if (jsonData.Success == 0)
                        toastr.error(jsonData.Message);
                    else
                        toastr.error(jsonData.Message);
                }
                else {
                    alert("something went wrong");
                }
            }
        });
    }

</script>
<script>

    function Download() {
        $.ajax({
            type: "POST",
            url: "/Report/StockSmartReport_GenRpt",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: $("#frmperiod").serialize(),
            dataType: "json",
            success: function (jsonData) {
                if (jsonData != null) {
                    len = jsonData.length;
                    if (jsonData.Success == 0)
                        toastr.error(jsonData.Message + jsonData.Data);
                    else if (jsonData.Success == 1) {
                        window.open(jsonData.Data);
                        setTimeout(function () { location.reload(); }, 2000);
                    }
                } else {
                    alert("something went wrong");
                }
            }
        });
    }
</script>
<script>
    function LoadGrid(FDate, TDate) {
        var dataset = new Array();
        let secondary = false;
        let QtyBox = true;
        let QtyEach = true;
        let Res = true;
        let NonRes = true;

        if ($("#BatchType").val() == 2) {
            secondary = true;
            QtyBox = false;
            QtyEach = false;
            Res = false;
            NonRes = false;
        }

        $.ajax({
            type: "POST",
            url: "/Report/StockSmartReport_LoadGrid",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: $("#frmperiod").serialize(),
            dataType: "json",
            success: function (jsonData) {


                if (jsonData != null) {
                    len = jsonData.length;

                    if ($.fn.DataTable.fnIsDataTable("#tblPeriodWise"))
                        $("#tblPeriodWise").dataTable().fnDestroy();


                    for (i = 0; i < len; i++)
                        dataset.push([(i + 1), jsonData[i].Plant, jsonData[i].MaterialCode, jsonData[i].MaterialDesc,
                            jsonData[i].BatchNo, jsonData[i].Crate, jsonData[i].Secondary, jsonData[i].ManufacturingDate,
                            jsonData[i].ExpiryDate, jsonData[i].AgingDays,jsonData[i].RemainingDays, jsonData[i].StockQtyInBox, jsonData[i].StockQtyInEach,
                            jsonData[i].Restricted, jsonData[i].UnRestricted])

                    $('#tblPeriodWise').DataTable({
                        "autoWidth": true,
                        "sScrollY": "300px",
                        "sScrollX": "100%",
                        "language": {
                            "paginate": {
                                "previous": "<i class='las la-angle-left'></i>",
                                "next": "<i class='las la-angle-right'></i>"
                            }
                        },
                        'aoColumnDefs': [{
                            'visible': secondary,
                            'targets': [5]
                        }, {
                            'visible': secondary,
                            'targets': [6]
                        }, {
                            'visible': QtyBox,
                            'targets': [11]
                        }, {
                            'visible': QtyEach,
                            'targets': [12]
                        }, {
                            'visible': Res,
                            'targets': [13]
                        }, {
                            'visible': NonRes,
                            'targets': [14]
                        }],
                        data: dataset,
                        columns: [{ title: "#", width: "2%" }, { title: "PLANT" }, { title: "MATERIAL CODE" }, { title: "MATERIALNAME" },
                            { title: "BATCH NUMBER" }, { title: "CRATE" }, { title: "SECONDARY" }, { title: "MANUFACTURING DATE" },
                            { title: "EXPIRYDATE", width: "25%" }, { title: "AGING DAYS" }, { title: "REMAINING DAYS" }, { title: "STOCK QTY IN BOX" }, { title: "STOCK QTY IN EACH" },
                        { title: "RESTRICTED" }, { title: "UNRESTRICTED" }]
                    });

                } else {
                    alert("something went wrong");
                }
            }
        });
    }

    function funClear()
    {
        LoadGrid();
    }
</script>